#divMain{
  height: 80px;
  width: 160px;
}

#inpFolderName {
  height: 30%;
  width: 80%;
  margin: 6px;
}

#btnTabsBookmark {
  height: 30%;
  width: 80%;
  margin: 6px;
}

button {
  outline: none;
  border: none;
  border-radius: 2px;
  color: whitesmoke;
  background-color: #FF5500;
}

button:hover {
  background-color: #FF4400;
}

button:active {
  background-color: #EE3300;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}
